body{
    margin: 0;
    padding: 0;
    height: 100dvh;
    background-color: #960018;

    font-family: 'Segoe UI', Tahoma;
}

header{
    display: flex;
    justify-content: center;
    padding: 20px;
}

header img{
    border-radius: 50%;
    width: clamp(100px, 30vw, 150px);
    outline: solid;
}

main{
    display: flex;
    height: auto;
    justify-content: center;
    margin: 50px;
    margin-top: clamp(0px, 5vh, 50px);

}

form{
    width: clamp(400px, 20vw, 200px);
    padding: clamp(10px, 20vw ,50px);
    height: auto;
    
    background-color: #fff;
    border-radius: 10px;
    outline: solid;
    margin-bottom: 16px;
    gap:8px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    display: flex;
    flex-direction: column;
    width: 100%;
}

input[type="text"], input[type="password"]{
    width: 100%;
    border-radius: 20px;
    border: #919191 1px solid;
    padding: 10px 0 10px 15px;
}

input[type="submit"]{
    margin-top: 20px;
    width: 80%;
    height: 40px;
    border-radius: 30px;

    background-color: #2e2d2d;
    border: 2px solid #2e2d2d;
    color: #fff;

    font-weight: bold;
    font-size: 15px;
}

input[type="submit"]:hover{
    background-color: #fff;
    color: #2e2d2d;
    cursor: pointer;
}
